.main-title {
  background-color: #34495e;
  color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  text-align: center;
  padding: 10px 20px 15px 20px;
  margin-top: 50px;
}

.contactInput {

}

.tableHeader {
  
}